@import "colors.css";

* {
    all: unset;
    font-family: JetBrainsMono Nerd Font;
}

tooltip {
    background-color: @bg1;
    color: @fg;
    border-radius: 12px;
}

.modules-left,
.modules-right,
.modules-center {
    background-color: @bg1;
    color: @fg;
}

