@import "colors.css";

* {
    all: unset;
    font-family: "Rubik","JetBrainsMono Nerd Font Propo";
}

tooltip {
    background-color: @bg1;
    color: @fg;
    border-radius: 12px;
}

.modules-center {
    background-color: @bg1;
    padding: 2px 20px;
    border-radius: 99px;
    color: @fg;
    margin: 0px;
}

#workspaces {
    background-color: @bg2;
    padding: 2px 10px;
    margin: 4px 0px;
    border-radius: 99px;
}

#workspaces button {
    background-color: @bg4;
    padding: 2px 4px;
    border-radius: 99px;
    margin: 0px 2px;
    transition: all 300ms ease-in-out;
    min-width: 20px;
}

#workspaces button.empty {
    color: @grey0;
}

#workspaces button.active {
    background-color: @green;
    color: @bg1;
    min-width: 3rem;
    font-weight: 500;
    transition: none;
}

#clock {
    font-weight: 600;
}